.bp-block-table {
	
}

.blueprint-data {
	background-color: #dfdfdfa8;
	border: 0.13564839934888767rem solid #444;
	padding-left: 0.6782419967444384rem;
	padding-top: 0.27129679869777534rem;
	padding-bottom: 0.3391209983722192rem;
}

.blueprint-data h4 {
	margin-top: 0.813890396093326rem;
}
