.se-gui {
  color: #D9D9D9;
  width: 40%;
  font-weight: bold;
  font-size: 90%;
  border: 0.13564839934888767rem solid #0E1311;
  background-color: #0E1311c0;
  margin: auto;
  display: inline-block;
  font-family: "Century Gothic", sans-serif;
}

.bp-block-table {
	
}

.blueprint-data {
	background-color: #dfdfdfa8;
	border: 0.13564839934888767rem solid #444;
	padding-left: 0.6782419967444384rem;
	padding-top: 0px;
	padding-bottom: 0.3391209983722192rem;
}

.blueprint-data h4 {
	margin-top: 0.813890396093326rem;
}
