.bp-block-table {
	
}

.blueprint-data {
	background-color: #dfdfdfa8;
	border: 2px solid #444;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 5px;
}

.blueprint-data h4 {
	margin-top: 12px;
}