.stellaris-prototype {
  color: #D9D9D9;
  width: 40%;
  font-weight: bold;
  font-size: 90%;
  border: 0.13564839934888767rem solid #0E1311;
  background-color: #0E1311c0;
  margin: auto;
  display: inline-block;
  font-family: "Century Gothic", sans-serif;
}

.stellaris-icon {
	width: 1.9669017905588713rem;
	height: 1.9669017905588713rem;
	margin: 0px;
	padding-left: 0.5425935973955507rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.stellaris-graphic {
	width: 6.646771568095496rem;
	height: 6.646771568095496rem;
	margin-left: -1.3564839934888768rem;
	margin-bottom: -1.627780792186652rem;
	margin-top: 0px;
	margin-right: 0px;
	padding: 0px;
}

.stellaris-desc {
	color: #A6967B;
  padding-left: 0.4747693977211068rem;
  padding-right: 0.27129679869777534rem;
  padding-bottom: 0.2034725990233315rem;
  line-height: 115%;
}

.stellaris-prototype h4{
  /*color: #fff;*/
  color: #D69123;
  font-size: 112.5%;
  /*font-weight: normal;*/
  padding-left: 0.4747693977211068rem;
  padding-right: 0.27129679869777534rem;
  padding-bottom: 0.2034725990233315rem;
  font-family: "Century Gothic", sans-serif !important;
}

.stellaris-prototype table {
  border-collapse: separate;
  border: 0.13564839934888767rem solid #26423B;
  background-color: #0E1311b0;
  font-size: 98%;
}

.bad-effect {
  color: #D6493C;
  font-family: Lato;
  letter-spacing: 0.06782419967444384rem;
  font-size: 98%;
}

.good-effect {
  color: #23BF20;
  font-family: Lato;
  letter-spacing: 0.06782419967444384rem;
  font-size: 100%;
}

.stellaris-prototype table tr {
  background-color: #0E1311b0;
  line-height: 120%;
}

.stellaris-prototype table td {
  border: none;
  padding-top: 0.13564839934888767rem;
  padding-bottom: 0.13564839934888767rem;
  padding-left: 0.813890396093326rem;
  padding-right: 0.813890396093326rem;
  background-color: #0E1311b0;
  text-align: left;
}
